
<div class="centrado">
	
	<div class="page-header">
		<p >Bienvenido al Sistema de Registro de Horas</p>		
	</div>
	<h2 class="form-signin-heading">Iniciar sesión</h2>
	
	
	<%= form_for(:session, url: sessions_path) do |f| %>
  	
		<table>
			<tr>						
				<td><%= f.text_field :name, class:"form-control", :autofocus=>true, :placeholder=>"Nombre de Usuario" %></td>
			</tr>
			<tr>
				<td><%= f.password_field :password, class:"form-control", :placeholder=>"Contraseña"%></td>
			</tr>
			<tr>
				<td colspan="2">
					<%= f.submit "Ingresar!", class: "btn btn-primary btn-block" %>
				</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td><br />
			</tr>
			<tr>
				<td colspan="2">
					<%= link_to "Probar sesión iniciada", prueba_path %>
				</td>
			<tr>
				<td colspan="2">
					<%= link_to "Registrarse", "users/new", method: :get %>
				</td>
			</tr>
		</table>
		
	<% end %>
	
</div>
