<%= form_for @task do |t| %>

  <table>
  	<tr>
  		<td>Fecha:</td>
  		<td><%= t.date_field :date , class:"form-control" %></td>
  	</tr>
  	<tr>
  		<td>Hora de inicio:</td>
  		<td><%= t.time_field :time_start , class:"form-control" %></td>
  	</tr>
  	<tr>
  		<td>Hora de fin:</td>
  		<td><%= t.time_field :time_end , class:"form-control" %></td>
  	</tr>
  	<tr>
  		<td>Descripción:</td>
  		<td><%= t.text_area :description , class:"form-control" %></td>
  	</tr>
  	<tr>
  		<td colspan="2">&nbsp;</td>
  	</tr>
  	<tr>
  		<td colspan="2"><%= t.submit "Crear Tarea" , class: "btn btn-primary" %></td>
  	</tr>
  	<tr>
  		<td colspan="2">&nbsp;</td>
  	</tr>
  </table>
  
<% end%>
