<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error">
      <%= pluralize(@user.errors.count, "error") %>:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="centrado"> 
  <table class="new">
  	<tr>
  		<td>Nombre</td>
  		<td><%= f.text_field :name, class:"form-control", :autofocus=>true, :placeholder=>"Nombre" %></td>
  	</tr>
  	<tr>
  		<td>Correo electrónico</td>
  		<td><%= f.text_field :email, class:"form-control", :placeholder=>"Correo electrónico" %></td>
  	</tr>
    <% if params[:action] != "edit" && params[:action] != "update" %>
    	<tr>
    		<td>Contraseña</td>
    		<td><%= f.password_field :password , class:"form-control", :placeholder=>"Contraseña"%></td>
    	</tr>
    	<tr>
    		<td>Repetir contraseña</td>
    		<td><%= f.password_field :password_confirmation , class:"form-control", :placeholder=>"Confirme contraseña"%></td>
    	</tr>
    	<tr>
    		<td>Rol</td>
    		<td>
    			<%= collection_select(:user, :role_id, UserRole.all(), :id, :name, {:selected => :role_id}) %>
    		</td>
    	</tr>
    <% end %> 
  	<tr>
  		<td colspan="2">&nbsp;</td>
  	</tr>
  	<tr>
  		<td colspan="2"><%= f.submit "Enviar", class: "btn btn-primary"%></td>
  	</tr>
  </table>
</div>
<% end %>