<div id="contenido">
	<div id="titulo">
		Usuarios registrados
	</div>
	
	<h2>Crear nuevo</h2>
	<%= link_to "Nuevo usuario", new_user_path %>
	
	<h2>Usuarios creados</h2>
	<table class="lista">
	  <tr>
	    <th class="etiqueta">Nombre</th>
	    <th class="etiqueta">Email</th>
	  </tr>
	 
	  <% @users.each do |user| %>
	    <tr>
	      <td><%= user.name %></td>
	      <td><%= user.email %></td>
	      <td><%= link_to "Ver", user_path(user) %></td>
	      <td><%= link_to "Modificar", edit_user_path(user) %></td>
	      <td><%= link_to "Eliminar", user_path(user), method: :delete, data: { confirm: '¿Seguro que desea eliminar el usuario?' } %></td>
	    </tr>
	  <% end %>
	</table>
	
	<hr />
	
	<a href="/">Ir al inicio</a>
	
</div>

