<%= form_for(:user, url: "/resetPassword") do |f| %>
  
  <h1>Generar nueva contraseña</h1>
  
  
  <% if @user.errors.any? %>
    <div id="error">
      <%= pluralize(@user.errors.count, "error") %>:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table-stripped">
  	<tr>
  		<td>Correo electrónico</td>
  		<td><%= f.text_field :email, class:"form-control", :placeholder=>"Correo electrónico" %></td>
  	</tr>
  	<tr>
  		<td colspan="2">&nbsp;</td>
  	</tr>
  	<tr>
  		<td colspan="2"><%= f.submit "Generar nueva", class: "btn btn-block btn-primary" %></td>
  	</tr>
  </table>
  
	<br />
	<%= link_to "Volver al inicio", root_url %>

<% end %>
