<div class="centrado">
	<h1>Datos del usuario</h1>
	
	<table class="table table-bordered table-hover table-condensed">
  	<tr>
  		<td class="etiquetaCampo">Nombre</td>
  		<td><%= @user.name %></td>
  	</tr>
  	<tr>
  		<td class="etiquetaCampo">Email</td>
  		<td><%= @user.email%></td>
  	</tr>
  	<tr>
  		<td class="etiquetaCampo">Rol</td>
  		<td><%= @user.role.name%></td>
  	</tr>
    <tr>
      <td class="etiquetaCampo">Estado</td>
      <td><%= @user.state.name%></td>
    </tr>
  </table>
	
	<br />

  <div class="bs-docs-example">
      <ul class="nav nav-pills">
          <li>
              <%= link_to "Volver a usuarios", users_path %>
          </li>
          <li>
              <%= link_to "Volver al inicio", main_url %>
          </li>
      </ul>
  </div>

  

</div>