
<div class="centrado">
	
	<h1>Sistema de Registro de Horas</h1>
	<h2>Esta pagina permite mostrar cosas diferentes para usuarios logueados o no</h2>
	
	<div style="margin-top: 30px;">
		<% if signed_in? %>
		
		  <h2>Usuario logueado</h2>
		  
		  <%= link_to "Usuarios", '#' %> <br />
			<%= link_to "Configuracion", '#' %> <br />
			<%= link_to "Perfil", current_user %> <br />
			
			<br />
			 
		  <%= link_to "Cerrar sesión", signout_path, method: "delete" %>
		  
		<% else %>
		
		  <h2>Usuario NO logueado</h2>
		  
		  <%= link_to "Iniciar sesión", signin_path, method: "get" %>
		  
		<% end %>
	</div>
	
	
</div>