	<% if signed_in? %>
		<div id="menu" >
			<ul class="nav nav-pills nav-stacked span2">
				
				<!-- MENU ADMINISTRADOR -->
				<% if can? :update, Task and params[:controller] == 'tasks' %>
					<li><%= link_to "Crear tarea", new_task_path %></li>
				<% end %>

				<% if can? :read_stats, Log and params[:controller] == 'statistics' %>
					<li class=""><%= link_to "Ver estadísticas", '#' %></li>
				<% end %>

				<% if can? :manage, User and params[:controller] == 'users' %>
					<li class=""><%= link_to "Crear Usuario", new_user_path %></li>
				<% end %>

			
			</ul>
			<!-- 	<li class="">Administración de cuenta</li>
				<li class=""><%= link_to "Cambiar contraseña", '#' %></li>
			</ul>
			
			<% if can? :update, User %>
				<ul>
					<li class="tituloMenu">Administración de usuarios</li>
					<li><%= link_to "Listar usuarios", users_path %></li>
					<li><%= link_to "Modificar usuario", edit_user_path(current_user) %></li>
				</ul>
			<% end %> -->
			
			<br />
			
			
		</div>
		
	<% else %>
	<% end %>