	<% if signed_in? %>
		<div id="menu" >
			<ul class="nav nav-pills nav-stacked span2">
				
				
				<% if can? :update, Task %>
					<li><%= link_to "Crear tarea", new_task_path %></li>
				<% end %>
				
				<% if can? :read_stats, Log %>
					<li class=""><%= link_to "Ver estadísticas", '#' %></li>
				<% end %>
			
			</ul>
			<!-- 	<li class="">Administración de cuenta</li>
				<li class=""><%= link_to "Cambiar contraseña", '#' %></li>
			</ul>
			
			<% if can? :update, User %>
				<ul>
					<li class="tituloMenu">Administración de usuarios</li>
					<li class="implem"><%= link_to "Listar usuarios", '#' %></li>
					<li class="implem"><%= link_to "Modificar usuario", '#' %></li>
				</ul>
			<% end %> -->
			
			<br />
			
			
		</div>
		
	<% else %>
	<% end %>